@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* hero section style */

#hero {
    height: 575px;
    background-image: url("../assets/Hero-bg.png");
}

#hero .hero-content {
    margin: 23px 196px 40px 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero .hero-title {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 42px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 21px;
}

#hero .hero-description {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 28px;
}

#hero .contact-button {
    padding: 18px 21px 18px 21px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    margin-bottom: 41px;
}

/* why web development section style */

.why-web-development {
    width: 860px;
    height: 1100px;
    margin: 65px 135px 0px 131px;
    padding: 71px 86px 71px 86px;
}

.web-text {
    margin: 0px 36px 37px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-title {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 26px;
font-weight: 800;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.web-description {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

.layer_1 {
    padding: 42px;
    display: flex;
    justify-content: space-between;
}

.box-layer {
    max-width: 424px;
    height: 189px;
}

.text-decoration {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.text-description {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}

.layer-btn {
    padding: 10px 17px 10px 17px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.layer-text {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}